<?xml version="1.0" encoding="UTF-8"?>

<beans 
     xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
     https://www.springframework.org/schema/beans/spring-beans.xsd">
     
     <bean id="a" class="com.setter.secondary.Address">
             <property name="cityName" value="Vaijapur"></property>
             <property name="areaName" value="MurariPark"></property>
     
     </bean>
     
     <bean id="s" class="com.setter.secondary.Student">
              <property name="sid" value="001"></property>
              <property name="sname" value="Pravin Shinde"></property>
              <property name="addrs" ref="a"></property>
                
     
     </bean>
     
     
     
  </beans>   