<?xml version="1.0" encoding="UTF-8"?>

<beans 
     xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
     https://www.springframework.org/schema/beans/spring-beans.xsd">
     
     <bean id="addrs" class="com.autowired.ByName.Address">
       <property name="areaName" value="SambajiCOloni"></property>
       <property name="cityName" value="Vaijapur"></property>
     </bean>
     
     <bean id="s" class="com.autowired.ByName.Student" autowire="byName">
      <property name="rollno" value="101"></property>
      <property name="sname" value="Pradeep Shinde"></property>
     </bean>
     
</beans>    