<?xml version="1.0" encoding="UTF-8"?>

<beans 
     xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
     https://www.springframework.org/schema/beans/spring-beans.xsd">
     
     <bean id="m" class="com.setter.collection.MyClass">
         <property name="mylist">
           <list>
           <value>JAVA</value>
           <value>PYTHAN</value>
           </list>
         </property>
         
        <property name="myset">
         <set>
         <value>Angular</value>
         <value>Angular.JS</value>
         </set>
       </property> 
      
      <property name="mymap">
	      <map>
	        <entry key="1" value="Web Services"></entry>
	        <entry key="2" value="Microservices"></entry> 
	      </map>
	   </property>  
     
     </bean>
     
</beans>